<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper  namespace="com.dao.DoctorDao">
	<select id="findByDoctorName"  parameterType="string"  resultType="com.entity.Doctor">
		select * from doctor where  name=#{name}
	</select>
	
	<insert id="addDoctor"  parameterType="com.entity.Doctor">
		insert into doctor(did,name,password,sex,age,level,dept,specialty,phone)
		 values(#{did},#{name},#{password},#{sex},#{age},#{level},#{dept},#{specialty},#{phone})
	</insert>
	
	<select id="findAllDoctor"  resultType="com.entity.Doctor">
		select * from doctor
	</select>
	
	<select id="findBySpecialty"  resultType="com.entity.Doctor"  parameterType="string">
		select * from doctor where specialty like "%"#{specialty}"%"
	</select>
	
	<select id="findLikeName" resultType="com.entity.Doctor" parameterType="string">
		select * from doctor where name like "%"#{name}"%"
	</select>
	
	<select id="findByDid" parameterType="string" resultType="com.entity.Doctor">
		select * from doctor where did=#{did}	
	</select>
		
	<delete id="deleteDoctor"  parameterType="string">
		delete from doctor where did=#{did}
	</delete>
	
	<update id="dynamicUpdateDoctor"  parameterType="com.entity.Doctor">
		update doctor
		<set>
			<if test="password!=null">
			password=#{password},
			</if>
			<if test="level!=null">
			level=#{level},
			</if>
			<if test="dept!=null">
			dept=#{dept},
			</if>
			<if test="specialty!=null">
			specialty=#{specialty},
			</if>
			<if test="phone!=null">
			phone=#{phone}
			</if>
		</set>
		where did=#{did}
	</update>
	
</mapper>