<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.ReserveDao">
	<insert id="reservation"  parameterType="com.entity.Reserve" >
		insert into reserve(did,dname,pid,rDate,rDay) values (#{did},#{dname},#{pid},now(),#{rDay})
	</insert>
	
	<select id="findReserve"  parameterType="int"  resultType="com.entity.Reserve">
		select * from reserve where pid=#{pid}
	</select>
	
	<select id="findReserveByCid"  parameterType="int"  resultType="com.entity.Reserve">
		select * from reserve where cid=#{cid}
	</select>
	
	<delete id="cancelReserve" parameterType="int">
		delete from reserve where cid=#{cid}
	</delete>
	
	<select id="findReserveByDid" parameterType="string" resultType="com.entity.Reserve">
		select * from reserve where did=#{did}	
	</select>
</mapper>